.form-container {
   display: flex;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #e8f6ef;
}

.formulario {
  background: #86c2a0cb;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #282C36;
}

form {
  background-color: rgb(206, 241, 199);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

form h1, form h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #1c1c1c;
}

.input-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #27AE60;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #228105;
}
